* {
  margin: 0;
  padding: 0;
}
body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  transition: 0.5s;
}
.main {
  padding: 20px 25px;
  box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}
.date {
  font-size: 17px;
  text-align: center;
  color: #fff;
  line-height: 30px;
}
.block {
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-size: 51px;
  font-weight: bold;
  box-sizing: content-box;
}
body:hover {
  position: absolute;
  top: 49%;
}
@media screen and (min-width: 760px) {
  .block {
    font-size: 51px;
  }
}
@media screen and (min-width: 1006px) {
  .block {
    font-size: 70px;
  }
}
